
.active-scaffold .sub-form table td {
border: none;
background-color: white;
padding: 1px;
vertical-align: top;
color: #999;
}

#asls__urlls-active-scaffold, #asls__categs-active-scaffold {
    overflow: auto;
}
