<h5>Contact</h5>
<p />
You may contact Dan Bikle via e-mail:
<p />
<b>
  bikle@bikle.com
</b>

<p />
Or call: 1-702-927-2995
<p />
<a href="http://gmail.com/" target="g"><%= image_tag("/images/et_email.jpg")  -%> </a>
<p />
Click on the Mac for
<br /><a href="http://gmail.com">http://gmail.com</a>
<br />
<br />USPS-Mail:
<br />
<br />Bikle.com, Inc.
<br />PO BOX 29502
<br />RCM#33332
<br />LAS VEGAS, NV
<br />89126-9502
<hr />
<br />Are you receiving spam with a return address of someone@bikle.com?
<br />
<br />If so, It's forged e-mail.
<br />
<br />The domain bikle.com is configured to prevent ANY e-mail from being sent.
<br />
<br />If Dan Bikle needs to send e-mail, he uses gmail with
<br />bikle@bikle.com
<br />as a return address.
<br />
<br />If you send e-mail to bikle@bikle.com, it actually gets routed to Google via
<br />an internet mechanism known as an MX record.
<br />
<br /><a target="m" href='http://en.wikipedia.org/wiki/MX_record'>http://en.wikipedia.org/wiki/MX_record</a>
<br />
<br />If you have a domain and you want to use Google to receive e-mail for you,
<br />that is an excellent choice.
<br />
<br />Why?
<br />
<br />Google offers an extremely effective self-learning spam filter.
<br />
<br />By itself, it does a good job of filtering spam.
<br />
<br />After a few weeks of watching you (and millions of others)
<br />tag the few spams which do get through, it becomes extremely accurate.
<br />
<br />
<br />The user interface to Google hosted e-mail is identical to gmail.com.
<br />
<br />You can find out more info here:
<br />
<a target='a' href='http://www.google.com/a/help/intl/en/admins/editions.html'>http://www.google.com/a/help/intl/en/admins/editions.html</a>
<p />


