<h5>Services</h5>

<p>
Dan Bikle offers technical consulting services.
</p><p>
Are you part of an organization which has large information systems?
</p><p>
If yes, do the systems depend on Oracle and/or Ruby on Rails?
</p><p>
If yes, you can depend on Dan Bikle to manage/enhance them.
</p><p>
Dan has Oracle Certifications:
</p><p>
10g Certified Professional
<br /><a target="ocp" href="http://www.google.com/search?q=10g+Certified+Professional">http://www.google.com/search?q=10g+Certified+Professional</a>

</p><p>
9i Certified Professional
<br /><a target="ocp" href="http://www.google.com/search?q=9i+Certified+Professional">http://www.google.com/search?q=9i+Certified+Professional</a>
</p><p>
8i Certified Professional
<br /><a target="ocp" href="http://www.google.com/search?q=8i+Certified+Professional">http://www.google.com/search?q=8i+Certified+Professional</a>
</p><p>
Contact Dan for Help:
</p><p>
<a href="/protected/contact" target="p"><img alt="Contact Dan For Help" src="http://bornboulder77.googlepages.com/denver_i25_sinkhole.jpg" /> </a>
</p><p>
Dan, We have a situation here...

</p><p>
<a href="/protected/contact">Contact Dan</a> </p>
