<h5>Tech Tips</h5>
<p />
<%= link_to 'The Rails and ActiveScaffold Code Behind This Site', :action => "sitecode" %> <br /> <p />
<p />
<%= link_to 'Oracle 10g R2 [10.2.0.2] Install on Solaris 10 x86', :action => "o10gR2_solaris10x86" %> <br /> <p />
<p />
<%= link_to 'Copying Data From A Ruby On Rails Session Into An Oracle Session', :action => "roracle_session" %> <br /> <p />
<p />
<a href="http://www.google.com/custom?domains=bikle.com&amp;q=burrito+recipes&amp;sitesearch=&amp;sa=Google+Generic+Search&amp;client=pub-8965802770706416&amp;forid=1&amp;ie=UTF-8&amp;oe=UTF-8&amp;cof=GALT%3A%23008000%3BGL%3A1%3BDIV%3A%23336699%3BVLC%3A663399%3BAH%3Acenter%3BBGC%3AFFFFFF%3BLBGC%3A336699%3BALC%3A0000FF%3BLC%3A0000FF%3BT%3A000000%3BGFNT%3A0000FF%3BGIMP%3A0000FF%3BFORID%3A1&amp;hl=en" target="b"><img alt="tech_tips" src="/images/tech_tips.jpg" /> </a>



