<h3>Tech Tips</h3>
<p />
<%= link_to 'Oracle 10g R2 [10.2.0.2] Install on Solaris 10 x86', :action => "o10gR2_solaris10x86" %> <br /> <p />
<p />
<%= link_to 'Copying Data From A Ruby On Rails Session Into An Oracle Session', :action => "roracle_session" %> <br /> <p />
<p />
<a href="http://www.google.com/search?q=oracle&btnG=Google+Search+%21&domains=bikle.com&sitesearch=bikle.com" target="_blank"><img alt="tech_tips" src="/images/tech_tips.jpg" /> </a>  
